doctype html
html
	head
		title 
			| #{constants.APP_TITLE + ' - ' + constants.APP_SUBTITLE}
		meta(charset="UTF-8")
		link(rel="shortcut icon" href="img/favicon.png")
	body
		main
			#app
		script(src="build/js/app.min.js")