// Card component 

.card {
	box-shadow: $cardShadow;
	padding: 30px;
	border-radius: 3px;

	.card-title {
		font-size: 1.25em;
		margin: 0;
	    font-weight: 400;
	}

	.card-info {
		font-size: 1.05em;
		font-weight: 300;
		line-height: 26px;
		margin: 25px 0;
	}
}