// Tuneshuffle welcome route styles

.info-panel {
	width: 600px;
	margin: 120px auto 70px;
	background-color: $primaryCardBg;

	.logo {
		width: 70px;
		height: 70px;
	    background-color: #fff;
	    border-radius: 50%;
	    border: 15px solid #fff;
	    margin: -80px auto 30px;
	    box-shadow: $cardShadow;
	    background-image: url('../../public/img/logo.png');
	    background-position: center;
	    background-size: 100%;
	}

	.card-title {
		color: #fff;
	    text-transform: uppercase;
	}

	.card-info {
		color: #fff;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	.btn-start {
		text-transform: uppercase;
		font-weight: 300;
	}

	.lnr {
		font-size: 1.15em;
		margin-left: 8px;
		vertical-align: middle;
	}

	.input-name {
		width: 70%;
		box-sizing: border-box;
		margin: 0 auto;
		margin: 15px 0;
	}
}




