// Tuneshuffle base styles

@import 'normalize';
@import '../../node_modules/pineapple-sass/build/pineapple-sass';
@import 'variables';
@import 'card';
@import 'buttons';
@import 'welcome';

html {
	font-size: 16px;
}

body {
	@include linearGradient(135deg, $blueDark 0%,$blueLight 100%);
	font-family: $lato;
}

.text-center {
	text-align: center;
}